---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="fs-2 fw-bold mb-3">Frank Buckley</h1>
  <p class="mb-3">Welcome to my personal site. I write about topics that interest me and share my professional experience.</p>
  <p class="mb-3">Read my <a href="/blog/">latest posts</a> or learn more <a href="/about/">about me</a>.</p>
</Layout>
